.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  height: 200px;
  width: 100vw;
}

.s-box {
  height: 50%;
  width: 50%;
}
